<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<h1>AJAX</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<div id="rest-ops">
	<!-- List users -->
	<button id="list-users" type="button">List users</button><br>
	<!-- Create a user -->
	<label>username</label><input id="user-username">
	<label>password</label><input id="user-password">
	<button id="create-user" type="button">Create user</button><br>
	<!-- Update a user -->
	<label>user_id</label><input id="user-id" type="number">
	<label>username</label><input id="user-username1">
	<label>password</label><input id="user-password1">
	<button id="update-user" type="button">Update user</button><br>
	<!-- Delete a user -->
	<label>user_id</label><input type="number" id="user-id">
	<button id="delete-user" type="button">Delete user</button><br>
</div>
<div id="results-div"></div>
<script>
document.addEventListener('DOMContentLoaded', handle_ajax(event));
</script>
