<h1>AJAX</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<div id="rest-ops">
<button id="list-users" type="button">List users</button><br>
<label>username</label><input id="user-username"><label>password</label>
<input id="user-password"><button id="create-user" type="button">Create user</button><br>
<label>user_id</label><input id="user-id" type="number"><label>username</label>
<input id="user-username1"><label>password</label>
<input id="user-password1"><button id="update-user" type="button">Update user</button><br>
</div>
<div id="results-div"></div>
<script>
document.addEventListener('DOMContentLoaded', handle_ajax(event));
</script>
