<h1>AJAX</h1>
<p>Find me in app/views/ajax/home.html.erb</p>
<div id="rest-ops">
<button id="list-users" type="button">List users</button><br>
<label>username</label><input id="user-username"><label>password</label>
<input id="user-password"><button id="create-user" type="button">Create user</button>
</div>
<div id="results-div"></div>
<%= javascript_include_tag 'ajax_ops' %>
